@media (min-width: 1100.98px) {
    .cart {
        width: 100%;
        max-width: 1840px;
        padding-right: 0;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .cart-container {
        grid-template-columns: 1fr 31.9%;
        gap: 40px;
    }
}