.custom-radio {
    display: block;
    padding: 14px 20px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: white;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
}
.custom-radio__inp {
    display: none;
}
.custom-radio__inp:checked+.custom-radio__disc {
    background: black;
}
.custom-radio__inp:checked+.custom-radio__disc::before {
    opacity: 1;
}
.custom-radio__disc {
    box-sizing: border-box;
    display: block;
    width: 25px;
    height: 25px;
    padding: 7px;
    border-radius: 50%;
    background: #E1E3E8;
    transition: all .3s linear;
    position: absolute;
    top: 14.5px;
    right: 20px
}
.custom-radio__disc:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transition: all .3s linear;
}
.custom-radio__name {
    font-weight: 600;
    color: black;
}
.switch-block [data-tab] {
    cursor: pointer;
}
.switch-block [data-tab].active {
    pointer-events: none;
}
.switch-block [data-block] {
    display: none;
    transition: all 0.4s linear;
}
.switch-block [data-block].active {
    display: block;
}
.cart-form .switch-block__tabs {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.cart-form [data-tab] {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    user-select: none;
    background: #fff;
    transition: background .2s, color .2s;
    border-radius: 8px;
}
.cart-form [data-tab]:first-of-type {
    border-right: none;
}
.cart-form [data-tab].active {
    background: #cfa567;
    color: #fff;
    border-radius: 8px;
}
.cart-form-head {
    margin-top: 40px;
}
.cart-form-head:first-child {
    margin-top: 40px;
}
.cart-form__text {
    color: #000;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 18px 20px;
    background-color: #fff;
}
.cart-form__text p:not(:last-child) {
    margin-bottom: 12px
}
.cart-form__text ul {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px
}
.cart-form__text ul:last-child {
    margin-bottom: 0
}
.cart-form .form-group.error input::placeholder {
    color: #ff6b6b;
}
.cart-form .form-group.error input:placeholder-shown+[data-error] {
    display: none;
}
.cart-form button {
    transition: all .3s linear;
}
.cart-form button.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}
.promo-code input:read-only {
    cursor: default;
}
@media (min-width: 1100.98px) {
    .cart {
        width: 100%;
        max-width: 1840px;
        padding-right: 0;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .cart-container {
        grid-template-columns: 1fr 31.9%;
        gap: 40px;
    }
}
@media (max-width: 1500px) {
    .custom-radio__name {
        font-size: 14px;
    }
    .cart-form [data-tab] {
        font-size: 16px;
    }
    .cart-form__text {
        font-size: 14px;
    }
}
@media (max-width: 750px) {
    .cart-item {
        grid-template-columns: auto 1fr;
    }
    .delete-cart-item-btn {
        width: 27px;
        height: 27px;
    }
}