.order-p {
    padding: 0;
}
.order-p h1,
.order-p .h1 {
    margin: 40px 0 16px;
}
.order-p h2:not(:first-child),
.order-p .h2:not(:first-child) {
    margin: 32px 0 12px;
}
.order-p .userData {
    word-break: break-word;
}
.sale-order-detail-order-item-title {
    font: 16px;
}
.order-p__tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.order-p__tables table {
    width: 100%;
    display: block;
}
.order-p__tables table thead,
.order-p__tables table tbody {
    display: table;
    width: 100%;
}
.order-p__tables table tr {
    width: 100% !important;
    height: auto !important;
    padding: 16px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    border-top: 1px solid #E1E0E0;
    border-bottom: 1px solid #E1E0E0;
    margin-bottom: -1px;
}
.order-p__tables table td:first-child {
    color: #8C8C8C;
    align-content: center;
}
.order-p__total {
    padding-top: 10px;
    border-top: 1px solid #E1E0E0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 24px;
}
.order-p__total .ya-pay-button {
    border-radius: 30px !important;
}
.order-p__total .orderDetailSumm {
    color: #8C8C8C;
    line-height: 1;
    text-align: left;
}
.order-p__total .orderDetailSumm span,
.order-p__total .orderDetailSumm p {
    color: black;
    display: block;
    margin-top: 8px;
}
@media (max-width: 1500px) {
    .order-p h1,
    .order-p .h1 {
        margin-top: 30px;
    }
    .sale-order-detail-order-item-title {
        font: 14px;
    }
    .order-p__tables {
        gap: 24px;
    }
    .order-p__tables tr {
        padding: 12px 0;
    }
    .order-p__tables table td {
        font-size: 14px;
    }
    .order-p__total .orderDetailSumm {
        font-size: 14px;
    }
    .order-p__total .orderDetailSumm span {
        font-size: 20px;
    }
}
@media (max-width: 960px) {
    .order-p h1,
    .order-p .h1 {
        margin-top: 16px;
        margin-bottom: 12px;
    }
    .sale-order-detail-order-item-title {
        font: 12px;
    }
    .order-p__tables {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .order-p__tables table:first-child tr:first-child {
        border-top: 1px solid #E1E0E0;
    }
    .order-p__tables table tr {
        border-top: none;
        word-break: break-word;
    }
    .order-p__total {
        gap: 16px;
    }
}
@media (max-width: 599px) {
    .order-p .uk-grid {
        margin-left: 0 !important;
    }
    .order-p .uk-grid>* {
        padding-left: 0 !important;
    }
    .order-p__total-yapay {
        flex: 1 1 auto;
    }
    .ya-pay-button {
        width: 100%;
        max-width: 100% !important;
    }
    .order-p__total .orderDetailSumm {
        line-height: 1.2;
        width: calc(100% / 3);
    }
    .order-p__total .orderDetailSumm p, .order-p__total .orderDetailSumm span {
        margin-top: 4px;
    }
}